  <button nz-button nzType="primary" (click)="open()">Open</button>
  <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      [nzPlacement]="placement"
      [nzHeight] = '700'
      nzTitle="Basic Drawer"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
        <div>
          <input type="file" (change)="onFileChange($event)" multiple="false" />
          
          <button (click)="export()">Export!</button>
        </div>
        <div>
          <app-spreadsheet #sheet ></app-spreadsheet>
      </div>
      
      </ng-container>
    </nz-drawer>